body{
    width: auto;
    height: auto;
    background-color: lightgray;
}

#title-subtitle{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    color:rgb(76, 50, 50);
}

#title{
    font-size: 40pt;
    margin-bottom: 15px;
}

#subtitle{
    margin-top: 0px;
    font-size: 18pt;
}

#page-content{
    margin-top: 75px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color:rgb(76, 50, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: larger;
}

#row-basic-data, #row-address, #row-contact, #row-resumo, #row-objetivo, #row-certifications, #row-habilidades, #row-idiomas, #row-xp, #row-extras{
    margin-bottom: 10px;
}

#botao{
    text-align: center;
    justify-content: center;
}

#botao-button{
    height:40px; 
    width:70px; 
    font-size: large;
    background-color: lime;
    color: rgb(40, 64, 64);
    border: none;
    box-shadow: 50%;
    border-radius: 5px;
}